$font-stack:    'Helvetica', sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #EEE;
}
.pinDiv{
  // border: 1px solid #eee;
  height: 370px;
  width: 290px;
  margin-bottom: 15px;
}
.gutter{
  background-color: #FFF;
  height: 370px;
  width:100%;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.57);
  -moz-box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.57);
  box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.57);

}
.addPin{
  //border: 1px dotted yellow;
  height: 100%;
  padding: 0;

}

.pinIt{
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  color: black;
}
.pinItButton{
  //border: 2px dotted green;
  //height:370px;
  background-color: transparent;
  // opacity: 0.5;
  position: absolute;

}
.img{
  padding:0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.imgDiv{
  //border: 2px dotted green;
  height:240px;
  width: 260px;
  padding: 0;
  height: 65%;
  position: relative;
}

#pinItButton {
  position: absolute;
}

.pinNameDiv{
  height: 15%;
  border-top: 1px solid #eee;
}

#deleteItButton{
  position: absolute;
}

.deleteIt{
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  color: black;
  float: right;
}


.descriptionDiv{
  height: 15%;
  border-top: 1px solid #eee;
}
p{
  width:260px;
}
.p-pinName{
  font-size: 20px;
}
.p-description{
  font-size: 12px;
}

// .glyphicon-pushpin{
//   font-size: 16px;
//   color: crimson;
// }

////////////////////////////////////////////
//// pinIt modal ///
.modalPopup{
  height: 450px;
  padding: 0;
}
.paddingIssue{
  padding:0;
}
.modalAdd{
 // border: 1px solid black;
  height: 450px;
  background-color: #eee;
}
.modalAddContent{
  margin-top: 35%;
  //border: 1px solid blue;

}
// pin items //
.modalGutter{
  background-color: #FFF;
  height: 270px;
  width:100%;
  position: relative;
   -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.57);
-moz-box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.57);
box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.57);

}
.modalAddPin{
  //border: 1px dotted yellow;
  height: 100%;
  padding: 0;

}
.modalPinItButton{
  //border: 2px dotted green;
  //height:370px;
  background-color: transparent;
  // opacity: 0.5;
  position: absolute;
}
.modalImg{
  padding:0;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}
.modalImgDiv{
  //border: 2px dotted green;
  height:240px;
  width: 260px;
  padding: 0;
  height: 65%;
  position: relative;
}
.modalPinNameDiv{
  height: 15%;
  border-top: 1px solid #eee;
}

.modalDescriptionDiv{
  height: 15%;
  border-top: 1px solid #eee;
}


.modalAddBoard{
  height: 450px;
  border: 1px solid black;
}
.pickBoard{
  border: 1px solid blue;
}
.searchInput{
  border: 1px solid red;
}
.listBoard{
  border: 1px solid green;
}
.newBoard{
  border: 1px solid yellow;
}
.p-newBoard{
  font-size: 20px;
}


/// modal ///
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:red;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 660px !important;
  height: 490px !important; /* Default */

  /* Center the dialog */
  top: 150%;
  left: 150%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}