$font-stack:    'Helvetica', sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #EEE;
}
.pinDiv{
  border: 1px solid #eee;
  height: 100%;
  width: 200px;
  background-color: #FFF;
  -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.57);
-moz-box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.57);
box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.57);
}

.addPin{
  //border: 1px dotted yellow;
  height: 370px;
  padding: 0;
  -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
.pinIt{
  //border: 2px dotted green;
  height:65%;
  background-color: transparent;
}
.imgDiv{
  //border: 2px dotted green;
  height: 65%;
}
.pinNameDiv{
  
  height: 15%;
  border-top: 1px solid #eee;
}

.descriptionDiv{
  height: 15%;
  border-top: 1px solid #eee;

}