

<div class="container-fluid pinDiv col-md-12" ng-repeat="pin in pins" ng-controller="PinCtrl" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
<div class="col-md-12 gutter">
  <div class="row">
    <div class = "col-md-3 addPin"> 
        <div class="col-md-12 imgDiv">
           <button type="button" ng-show="hoverPin" id="pinItButton" ng-click="toggleModal()" class="pinIt">PinIt</button>
          <img class="img"ng-src="{{pin.image}}" height="100%" width= "100%">
            <div data-ng-include data-src="'partials/pinIt.html'"></div>
      </div><!--/imgDiv -->
      <div class="col-md-12 pinNameDiv">
           <p class="p-pinName">{{pin.pin_name}}</p>
      </div>
      <div class="col-md-12 descriptionDiv">
         <p class="p-description">{{pin.description}}</p>
      </div>
    </div><!-- /addPin-->
  </div><!-- /row-->
</div> <!--gutter -->
</div><!-- /pinDiv -->