<div class="col-md-3">
  <div>
    Pin name: <input type="text" ng-model="newPin.pin_name">
  </div>

  <div>
    Board Type: <input type="text" ng-model="newPin.board_type">
  </div>
    
  <div>
    Description: <input type="text" ng-model="newPin.description">
  </div>
    
<button ng-click="addPin()">Create Pin</button>

</div>


<div class="col-md-3">

<div>
  <div ng-repeat="addPin in addPins">
      <h3>{{addpin.pin_name}}</h3>
  </div>
</div>

</div>


<div class="col-md-3">

</div>


<div class="col-md-3">

</div>