<div class="container-fluid">
  <div class="row">
    <h1>Boards</h1>
    <button type="button" class="btn btn-primary btn-lg" ng-click="showAddBoards()">Add Board</button>
  </div>
  
  <div class="col-md-3" ng-show="AddBoardsShown">
    <div>
      Board name: <input type="text" ng-model="newBoard.title">
    </div>
    <div>
      Image URL: <input type="text" ng-model="newBoard.image">
    </div>
    <div>
      Description: <input type="text" ng-model="newBoard.description">
    </div>
    <div>
      Category: <input type="text" ng-model="newBoard.category">
    </div>
    <button ng-click="addBoard()">Create Board</button>
  </div>

  <div class="row">
    <div class="col-md-3" ng-repeat="board in userBoards">
      <a ng-href="#/board/{{ board.$id }}">
        <h2>{{board.title}}</h2>
        <img class="img"ng-src="{{board.imgage}}" height="146px" width= "216px">
      </a>
    </div>
  </div>
</div>