<div class="col-md-12">
                    <div class="col-md-12 pickBoard">
                      <h4>Pick a board</h4>
                    </div>
                     <div class="col-md-12 searchInput input-group-lg">
                      <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1" ng-model="pinSearch">
                    </div>
                     <div class="col-md-12 listBoard" ng-controller="BoardsCtrl">
                        <h6>All Boards</h6>
                          <div class="col-md-12 newBoard newBoard:hover" ng-repeat="board in userBoards" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-click="addPinToBoard(board)">

                            <a ng-href="#/board/{{ board.$id }}">
                              <img class="boardImg col-md-2" ng-src="{{board.imgage}}" height="34px" width= "34px">
                              <p class="boardTitle col-md-10">{{board.title}}</p>
                              
                            </a>
                          </div>
                    </div><!-- /listBoard -->
                     <div class="col-md-12 newBoard newBoard:hover" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-click="quickAdd()">
                            <button class="col-md-2 btn btn-default glyphicon glyphicon-plus"></button>
                          <p class="col-md-10 p-newBoard">Create A New Board</p> 
                        </div>
                  </div><!-- /col-md-12 -->