    <modal-dialog show='modalShown' width='100%' height='100%'>
        <div class="container-fluid modalPopup">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 modalAdd">
                <div class="col-md-12 modalAddContent">
                  <div class="col-md-12 modalGutter">
                    <div class="row">
                      <div class = "col-md-3 modalAddPin"> 
                          <div class="col-md-12 modalImgDiv">
                            <img class="modalImg"ng-src="{{pin.image}}" height="100%" width= "100%">   
                          </div><!--/imgDiv -->
                        <div class="col-md-12 modalPinNameDiv">
                             <p class="p-pinName">{{pin.pin_name}}</p>
                        </div>
                        <div class="col-md-12 modalDescriptionDiv">
                           <p class="p-description">{{pin.description}}</p>
                        </div>
                      </div><!-- /addPin-->
                    </div><!-- /row-->
                  </div> <!--gutter -->
              </div> <!--modalAddcontent -->
            </div> <!--modalAdd -->
              <div class="col-md-6 modalAddBoard">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12 pickBoard">
                      <h4>Pick a board</h4>
                    </div>
                     <div class="col-md-12 searchInput input-group-lg">
                      <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1" ng-model="searchBoards">
                    </div>
                     <div class="col-md-12 listBoard" ng-controller="BoardsCtrl">
                        <h6>All Boards</h6>
                          


                          <div class="col-md-12 newBoard newBoard:hover" ng-repeat="board in userBoards | filter:searchBoards" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-click="addPinToBoard(board)">

                            <a ng-href="#/board/{{ board.$id }}">
                              <img class="boardImg col-md-2" ng-src="{{board.imgage}}" height="34px" width= "34px">
                              <p class="boardTitle col-md-10">{{board.title}}</p>
                              
                            </a>
                          </div>
                       
                          <!-- <div class="col-md-12 newBoard newBoard:hover" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                            <button class="col-md-2 btn btn-default glyphicon glyphicon-plus"></button>
                          <p class="col-md-10 p-newBoard">Create A New Board</p> 
                        </div> -->
                    </div><!-- /listBoard -->
                  </div><!-- /col-md-12 -->
                </div><!-- /row -->
              </div><!-- /modalAddBoard -->
            </div><!-- /col-md-12 -->
          </div><!-- /row -->
        </div><!-- /container-fluid -->
    </modal-dialog> 