<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Faux Pinterest</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/home">Home <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="#/boards">Boards</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="pinSearch" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Submit</button>
          </span>
        </div>
        <span>
          <button type="button" class="btn btn-default btn-sm" ng-click="logout()">Logout</button>
        </span>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <h2>{{selectedBoard.title}}</h2>
<h4>{{selectedBoard.category}}</h4>
<p>{{selectedBoard.description}}</p>
<button type="button" class="btn btn-primary" ng-click="showAddForm()"> Add a Pin</button>

<div class="col-md-3" ng-show="pinFormVisible">
  <div>
    Pin name: <input type="text" ng-model="newPin.pin_name">
  </div>

  <div>
    Image URL: <input type="text" ng-model="newPin.image">
  </div>
    
  <div>
    Description: <input type="text" ng-model="newPin.description">
  </div>

  <div>
    Original URL: <input type="text" ng-model="newPin.origUrl">
  </div>
    
<button ng-click="addPin()">Create Pin</button>
</div>

<div ng-repeat="pin in boardPins">
  <h3>{{pin.pin_name}}</h3>
  <img ng-src="{{pin.image}}">
  {{pin.description}}
</div> -->

<div class="container-fluid singleBoardPage "ng-controller="SingleBoardCtrl">
  <div class="row">
    <div class="col-md-12  selectedBoard">
      <div class="row">
      <div class="col-md-8 col-md-offset-2 selectedTitle">
        <p>{{selectedBoard.title}}</p>
      </div>
      <!-- <div class="col-md-8 col-md-offset-2 selectedDescription">
        <p>{{selectedBoard.description}}</p>
      </div> -->
      <div class="col-md-8 col-md-offset-2 selectedCategory">
        <p>{{selectedBoard.category}}</p>
      </div>
    </div>
    </div>

    <div class="col-md-12 boardDiv">
      <a class="col-md-4 createPin" ng-click="toggleModal()">
        <button class="btn btnBoard glyphicon glyphicon-plus" ng-click="toggleModal()"></button>
        <span>Add a Pin</span>
      </a>
       <div data-ng-include data-src="'partials/singleAddPin.html'"></div>
    <div class="col-md-4 currentPin currentPin:hover" ng-repeat="pin in boardPins">
      <div class="row">
        <div class="col-md-12 currentPinContent">
          <div class="col-md-12 mainImgDiv">
          <a ng-href="{{pin.origUrl}}" target="blank">
            <img class="pinBoardImg"ng-src="{{pin.image}}" height="100%" width= "100%"/>
          </a>
          </div>
          <div class="col-md-12 currentPinTitle">
            <p>{{pin.pin_name}}</p>
          </div>
          <div class="col-md-12 currentDescription">
            <p>{{pin.description}}</p>
          </div>
          <!-- <div class="col-md-12 currentURL">
            <p>{{pin.origUrl}}</p>
          </div> -->
        </div><!-- currentBoardContent -->
      </div><!-- row -->
    </div> <!-- currentBoard -->
      </div><!-- boardDiv -->
    </div><!-- row -->
  </div> <!-- boardPage -->




















